name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
    - run: cd server && 
        docker build . --file Dockerfile --tag lldap_access_backend:$(date +%s) && 
        cd ../client && 
        docker build . --file Dockerfile --tag lldap_access_frontend:$(date +%s)
